* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #111;
}

/* nav */

.nav__logo {
  width: 80px;
  object-fit: contain;
}

.nav__avatar {
  width: 30px;
  object-fit: contain;
}

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  /* background-color: #111; */
  z-index: 1;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.nav__black {
  background-color: #111;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFF;
}