.movies {
  margin-bottom: 4rem;
  margin-left: 20px;
}

.movies h2 {
  margin: 1rem 0 1rem 0.5rem;
  font-size: 1.8rem;
  color: white;
}

.movies .movies-row {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  gap: 1.2rem;
  transition: tranform 0.5s;
}

.movies .movies-row .details {
  top: 45%;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 1000;
}

.movies .movies-row::-webkit-scrollbar {
  display: none;
}

.movies .movies-row img {
  height: 12rem;
  width: auto;
  margin: 0 0.2rem 0 0.2rem;
  transition: 0.5s;
}

.movies .movies-row img:hover {
  transform: scale(1.09);
}

.row__poster.blur {
  filter: blur(5px);
  -webkit-filter: blur(5px);
}

.modal .modal-content {
  background-size: cover;
  background-position: center;
}

/* banner */
.banner {
  background-image: url('images/banner.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  object-fit: contain;
  height: 448px;
}

.banner__contents {
  margin-left: 30px;
  padding-top: 140px;
  height: 190px;
}

.banner__title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}

.banner__description {
  width: 45rem;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 0.9rem;
  max-width: 360px;
  height: 180px;
}

.banner__button {
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: rgba(51, 51, 51, 0.5);
}

.banner__button:hover {
  color: #000;
  background-color: #e6e6e6;
  transition: all 0.2s;
}

.banner--fadeBottom {
  margin-top: 145px;
  height: 7.4rem;
  background-image: linear-gradient(180deg, transparent, rgba(37, 37, 37, 0.61), #111);
}
