{%extends 'base.html'%}
{% load static %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock styles %}

{% block title %}
Netflix Clone
{% endblock %}

{% block content %}
<!-- header -->
<header class="banner" style="background-image: url('https://image.tmdb.org/t/p/original{{ banner.backdrop_path }}')">
    <div class="banner__contents">
        <h1 class="banner__title">{{ banner.original_title }}</h1>
        <div class="banner__buttons">
            <a href="{% url 'play' banner.id %}">
                <button class="banner__button bg-danger" type="button">
                    <i class="fa-solid fa-play"></i>
                    Play
                </button>
            </a>
            <a href="">
                <button class="banner__button" type="button">
                    <i class="fa-solid fa-plus"></i>
                    My List
                </button>
            </a>
        </div>
        <h1 class="banner__description">
            {{ banner.overview }}
        </h1>
    </div>
    <div class="banner--fadeBottom"></div>
</header>

<section class="movies">
    <div>
        <h2>Trending</h2>
        <div class="movies-row" id="trending">
            {% for movie in trending %}
            <div class="poster position-relative">
                <img class="row__poster" src="https://image.tmdb.org/t/p/original{{movie.poster_path}}"
                     alt="{{movie.original_title}}"/>
                <div class="details position-absolute" id="details">
                    <button type="button" class="btn text-light" data-bs-toggle="modal"
                            data-bs-target="#exampleModal{{ movie.id }}">
                        <i class="fa-solid fa-circle-play text-danger fs-2"></i>
                    </button>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal{{ movie.id  }}" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-fullscreen">
                    <div class="modal-content"
                         style="background-image:linear-gradient(90deg, rgb(15, 15, 15), rgba(32, 32, 32, 0.959), rgba(255, 255, 255, 0)), url('https://image.tmdb.org/t/p/original{{ movie.backdrop_path }}');">
                        <div class="modal-body">
                            {{ image.description }}

                            <div style="margin-top: 10%;">
                                <div class="w-50 text-light">
                                    <p class="fs-2">{{ movie.original_title }}</p>
                                    <p class="fw-light">{{ movie.release_date }} <span class="ms-2">{{movie.media_type | title }}</span>
                                    </p>
                                    <p>{{ movie.overview }}</p>
                                    <div class="banner__buttons">
                                        <a href="{% url 'play' movie.id %}">
                                            <button class="banner__button bg-danger" type="button">
                                                <i class="fa-solid fa-play"></i>
                                                Play
                                            </button>
                                        </a>
                                        <a href="">
                                            <button class="banner__button" type="button">
                                                <i class="fa-solid fa-plus"></i>
                                                My List
                                            </button>
                                        </a>
                                    </div>
                                    <div class="mt-3 d-flex flex-column">
                                        <p>Rating: {{ movie.vote_average }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn banner__button" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <h2>Top Rated</h2>
        <div class="movies-row" id="top-rated">
            {% for movie in top_rated %}
            <div class="poster position-relative">
                <img class="row__poster" src="https://image.tmdb.org/t/p/original{{movie.poster_path}}"
                     alt="{{movie.original_title}}"/>
                <div class="details position-absolute" id="details">
                    <button type="button" class="btn text-light" data-bs-toggle="modal"
                            data-bs-target="#exampleModal{{ movie.id }}">
                        <i class="fa-solid fa-circle-play text-danger fs-2"></i>
                    </button>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal{{ movie.id  }}" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-fullscreen">
                    <div class="modal-content"
                         style="background-image:linear-gradient(90deg, rgb(15, 15, 15), rgba(32, 32, 32, 0.959), rgba(255, 255, 255, 0)), url('https://image.tmdb.org/t/p/original{{ movie.backdrop_path }}');">
                        <div class="modal-body">
                            {{ image.description }}

                            <div style="margin-top: 10%;">
                                <div class="w-50 text-light">
                                    <p class="fs-2">{{ movie.original_title }}</p>
                                    <p class="fw-light">{{ movie.release_date }} <span class="ms-2">{{movie.media_type | title }}</span>
                                    </p>
                                    <p>{{ movie.overview }}</p>
                                    <div class="banner__buttons">
                                        <a href="{% url 'play' movie.id %}">
                                            <button class="banner__button bg-danger" type="button">
                                                <i class="fa-solid fa-play"></i>
                                                Play
                                            </button>
                                        </a>
                                        <a href="">
                                            <button class="banner__button" type="button">
                                                <i class="fa-solid fa-plus"></i>
                                                My List
                                            </button>
                                        </a>
                                    </div>
                                    <div class="mt-3 d-flex flex-column">
                                        <p>Rating: {{ movie.vote_average }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn banner__button" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <h2>Action</h2>
        <div class="movies-row" id="action">
            {% for movie in action %}
            <div class="poster position-relative">
                <img class="row__poster" src="https://image.tmdb.org/t/p/original{{movie.poster_path}}"
                     alt="{{movie.original_title}}"/>
                <div class="details position-absolute" id="details">
                    <button type="button" class="btn text-light" data-bs-toggle="modal"
                            data-bs-target="#exampleModal{{ movie.id }}">
                        <i class="fa-solid fa-circle-play text-danger fs-2"></i>
                    </button>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal{{ movie.id  }}" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-fullscreen">
                    <div class="modal-content"
                         style="background-image:linear-gradient(90deg, rgb(15, 15, 15), rgba(32, 32, 32, 0.959), rgba(255, 255, 255, 0)), url('https://image.tmdb.org/t/p/original{{ movie.backdrop_path }}');">
                        <div class="modal-body">
                            {{ image.description }}

                            <div style="margin-top: 10%;">
                                <div class="w-50 text-light">
                                    <p class="fs-2">{{ movie.original_title }}</p>
                                    <p class="fw-light">{{ movie.release_date }} <span class="ms-2">{{movie.media_type | title }}</span>
                                    </p>
                                    <p>{{ movie.overview }}</p>
                                    <div class="banner__buttons">
                                        <a href="{% url 'play' movie.id %}">
                                            <button class="banner__button bg-danger" type="button">
                                                <i class="fa-solid fa-play"></i>
                                                Play
                                            </button>
                                        </a>
                                        <a href="">
                                            <button class="banner__button" type="button">
                                                <i class="fa-solid fa-plus"></i>
                                                My List
                                            </button>
                                        </a>
                                    </div>
                                    <div class="mt-3 d-flex flex-column">
                                        <p>Rating: {{ movie.vote_average }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn banner__button" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <h2>Comedy</h2>
        <div class="movies-row" id="science">
            {% for movie in comedy %}
            <div class="poster position-relative">
                <img class="row__poster" src="https://image.tmdb.org/t/p/original{{movie.poster_path}}"
                     alt="{{movie.original_title}}"/>
                <div class="details position-absolute" id="details">
                    <button type="button" class="btn text-light" data-bs-toggle="modal"
                            data-bs-target="#exampleModal{{ movie.id }}">
                        <i class="fa-solid fa-circle-play text-danger fs-2"></i>
                    </button>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal{{ movie.id  }}" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-fullscreen">
                    <div class="modal-content"
                         style="background-image:linear-gradient(90deg, rgb(15, 15, 15), rgba(32, 32, 32, 0.959), rgba(255, 255, 255, 0)), url('https://image.tmdb.org/t/p/original{{ movie.backdrop_path }}');">
                        <div class="modal-body">
                            {{ image.description }}

                            <div style="margin-top: 10%;">
                                <div class="w-50 text-light">
                                    <p class="fs-2">{{ movie.original_title }}</p>
                                    <p class="fw-light">{{ movie.release_date }} <span class="ms-2">{{movie.media_type | title }}</span>
                                    </p>
                                    <p>{{ movie.overview }}</p>
                                    <div class="banner__buttons">
                                        <a href="{% url 'play' movie.id %}">
                                            <button class="banner__button bg-danger" type="button">
                                                <i class="fa-solid fa-play"></i>
                                                Play
                                            </button>
                                        </a>
                                        <a href="">
                                            <button class="banner__button" type="button">
                                                <i class="fa-solid fa-plus"></i>
                                                My List
                                            </button>
                                        </a>
                                    </div>
                                    <div class="mt-3 d-flex flex-column">
                                        <p>Rating: {{ movie.vote_average }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn banner__button" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <h2>Crime</h2>
        <div class="movies-row" id="animation">
            {% for movie in crime %}
            <div class="poster position-relative">
                <img class="row__poster" src="https://image.tmdb.org/t/p/original{{movie.poster_path}}"
                     alt="{{movie.original_title}}"/>
                <div class="details position-absolute" id="details">
                    <button type="button" class="btn text-light" data-bs-toggle="modal"
                            data-bs-target="#exampleModal{{ movie.id }}">
                        <i class="fa-solid fa-circle-play text-danger fs-2"></i>
                    </button>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal{{ movie.id  }}" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-fullscreen">
                    <div class="modal-content"
                         style="background-image:linear-gradient(90deg, rgb(15, 15, 15), rgba(32, 32, 32, 0.959), rgba(255, 255, 255, 0)), url('https://image.tmdb.org/t/p/original{{ movie.backdrop_path }}');">
                        <div class="modal-body">
                            {{ image.description }}

                            <div style="margin-top: 10%;">
                                <div class="w-50 text-light">
                                    <p class="fs-2">{{ movie.original_title }}</p>
                                    <p class="fw-light">{{ movie.release_date }} <span class="ms-2">{{movie.media_type | title }}</span>
                                    </p>
                                    <p>{{ movie.overview }}</p>
                                    <div class="banner__buttons">
                                        <a href="{% url 'play' movie.id %}">
                                            <button class="banner__button bg-danger" type="button">
                                                <i class="fa-solid fa-play"></i>
                                                Play
                                            </button>
                                        </a>
                                        <a href="">
                                            <button class="banner__button" type="button">
                                                <i class="fa-solid fa-plus"></i>
                                                My List
                                            </button>
                                        </a>
                                    </div>
                                    <div class="mt-3 d-flex flex-column">
                                        <p>Rating: {{ movie.vote_average }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn banner__button" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <h2>Fantasy</h2>
        <div class="movies-row" id="comedy">
            {% for movie in fantasy %}
            <div class="poster position-relative">
                <img class="row__poster" src="https://image.tmdb.org/t/p/original{{movie.poster_path}}"
                     alt="{{movie.original_title}}"/>
                <div class="details position-absolute" id="details">
                    <button type="button" class="btn text-light" data-bs-toggle="modal"
                            data-bs-target="#exampleModal{{ movie.id }}">
                        <i class="fa-solid fa-circle-play text-danger fs-2"></i>
                    </button>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal{{ movie.id  }}" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-fullscreen">
                    <div class="modal-content"
                         style="background-image:linear-gradient(90deg, rgb(15, 15, 15), rgba(32, 32, 32, 0.959), rgba(255, 255, 255, 0)), url('https://image.tmdb.org/t/p/original{{ movie.backdrop_path }}');">
                        <div class="modal-body">
                            {{ image.description }}

                            <div style="margin-top: 10%;">
                                <div class="w-50 text-light">
                                    <p class="fs-2">{{ movie.original_title }}</p>
                                    <p class="fw-light">{{ movie.release_date }} <span class="ms-2">{{movie.media_type | title }}</span>
                                    </p>
                                    <p>{{ movie.overview }}</p>
                                    <div class="banner__buttons">
                                        <a href="{% url 'play' movie.id %}">
                                            <button class="banner__button bg-danger" type="button">
                                                <i class="fa-solid fa-play"></i>
                                                Play
                                            </button>
                                        </a>
                                        <a href="">
                                            <button class="banner__button" type="button">
                                                <i class="fa-solid fa-plus"></i>
                                                My List
                                            </button>
                                        </a>
                                    </div>
                                    <div class="mt-3 d-flex flex-column">
                                        <p>Rating: {{ movie.vote_average }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn banner__button" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <h2>Documentary</h2>
        <div class="movies-row" id="documentary">
            {% for movie in documentary %}
            <div class="poster position-relative">
                <img class="row__poster" src="https://image.tmdb.org/t/p/original{{movie.poster_path}}"
                     alt="{{movie.original_title}}"/>
                <div class="details position-absolute" id="details">
                    <button type="button" class="btn text-light" data-bs-toggle="modal"
                            data-bs-target="#exampleModal{{ movie.id }}">
                        <i class="fa-solid fa-circle-play text-danger fs-2"></i>
                    </button>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal{{ movie.id  }}" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-fullscreen">
                    <div class="modal-content"
                         style="background-image:linear-gradient(90deg, rgb(15, 15, 15), rgba(32, 32, 32, 0.959), rgba(255, 255, 255, 0)), url('https://image.tmdb.org/t/p/original{{ movie.backdrop_path }}');">
                        <div class="modal-body">
                            {{ image.description }}

                            <div style="margin-top: 10%;">
                                <div class="w-50 text-light">
                                    <p class="fs-2">{{ movie.original_title }}</p>
                                    <p class="fw-light">{{ movie.release_date }} <span class="ms-2">{{movie.media_type | title }}</span>
                                    </p>
                                    <p>{{ movie.overview }}</p>
                                    <div class="banner__buttons">
                                        <a href="{% url 'play' movie.id %}">
                                            <button class="banner__button bg-danger" type="button">
                                                <i class="fa-solid fa-play"></i>
                                                Play
                                            </button>
                                        </a>
                                        <a href="">
                                            <button class="banner__button" type="button">
                                                <i class="fa-solid fa-plus"></i>
                                                My List
                                            </button>
                                        </a>
                                    </div>
                                    <div class="mt-3 d-flex flex-column">
                                        <p>Rating: {{ movie.vote_average }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn banner__button" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% block scripts %}
{{ block.super }}
<script src="{% static 'js/index.js' %}"></script>
{% endblock scripts %}
{% endblock %}